<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>eCommerce HTML-5 Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="./enb-style.css">
		<!-- CSS here -->
            <link rel="stylesheet" href="assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
            <link rel="stylesheet" href="assets/css/flaticon.css">
            <link rel="stylesheet" href="assets/css/slicknav.css">
            <link rel="stylesheet" href="assets/css/animate.min.css">
            <link rel="stylesheet" href="assets/css/magnific-popup.css">
            <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
            <link rel="stylesheet" href="assets/css/themify-icons.css">
            <link rel="stylesheet" href="assets/css/slick.css">
            <link rel="stylesheet" href="assets/css/nice-select.css">
            <link rel="stylesheet" href="assets/css/style.css">
   </head>

   <body>
    <div>
    <!-- dear 보갱 -->
    <!-- class name = d-none -> 반응형할 때 max-width 맞춰서 display:none 값 주는 class -->
    <!-- 때문에 클래스명에서 삭제해줄 것 -->

    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="img/loading.png" alt="loding_logo"> 
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area">
            <div class="main-header">
               <div class="header-bottom  header-sticky">
                    <div class="container-fluid" style="background-color: #fff; max-width: 1800px; height: 4rem;">
                        <div class="row align-items-center" style="height: 60px;">
                            <!-- Logo -->
                            <div class="main-logobox">
                                <div class="logo">
                                  <a href="index.html"><img src="img/enbuyronment.png" alt="mainLogo"></a>
                                </div>
                            </div>
                            <div class="main-menubox">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-lg-block" style="width: 100%;">
                                    <nav>                                                
                                        <ul id="navigation" class="enb-mainNav">                                                                                                                                     
                                            <li><a href="#">공지사항</a></li>
                                            <li><a href="#">스토어</a></li>
                                            <li><a href="blog.html">FAQ</a></li>
                                            <!-- js 컨트롤 -->
                                            <li><a href="#">관리자</a>
                                                <ul class="submenu enb-submenu">
                                                    <li><a href="#">글쓰기</a></li>
                                                    <li><a href="#">상품등록</a></li>
                                                    <li><a href="#">주문내역</a></li>
                                                    <li><a href="#">회원관리</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div> 
                            <div class="main-userbox">
                                <ul class="header-right f-right d-lg-block d-flex justify-content-between main-userbox-liControl">
                                    <li class="d-xl-block">
                                        <div class="favorit-items">
                                            <i class="far fa-heart"></i>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="shopping-card">
                                            <a href="#"><i class="fas fa-shopping-cart"></i></a>
                                        </div>
                                    </li>
                                   <li class="d-lg-block"> <a href="#" class="btn header-btn enb-loginBtn" style="padding: 1.3rem 1.3rem !important;">로그인</a></li>
                                   <li class="d-lg-block"> <a href="#" class="btn header-btn enb-loginBtn" style="padding: 1.3rem 1.3rem !important;">회원가입</a></li>
                                </ul>
                            </div>
                            <!-- Mobile Menu -->
                            <!-- <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div> -->
                        </div>
                    </div>
               </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <!-- header 부분 작업 80% 완료 - js에서 컨트롤 필요 -->
    <main>

        <!-- slider Area Start -->
        <div class="slider-area ">
            <div class="mainImg-area">
                <div class="mainimg-Box">
                    <a href="#">
                        <img src="./img/enb-mainimg.jpg" alt="mainImg">
                    </a>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Category Area Start-->
        <section class="category-area section-padding30">
            <div class="container-fluid">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-85">
                            <h2>Shop by Category</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <img src="assets/img/categori/cat1.jpg" alt="">
                                <div class="category-caption">
                                    <h2>Owmen`s</h2>
                                    <span class="best"><a href="#">Best New Deals</a></span>
                                    <span class="collection">New Collection</span>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img text-center">
                                <img src="assets/img/categori/cat2.jpg" alt="">
                                <div class="category-caption">
                                    <span class="collection">Discount!</span>
                                    <h2>Winter Cloth</h2>
                                   <p>New Collection</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6">
                        <div class="single-category mb-30">
                            <div class="category-img">
                                <img src="assets/img/categori/cat3.jpg" alt="">
                                <div class="category-caption">
                                    <h2>Man`s Cloth</h2>
                                    <span class="best"><a href="#">Best New Deals</a></span>
                                    <span class="collection">New Collection</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Category Area End-->
    </main>

   <footer>
       <!-- Footer Start-->
       <div class="footer-width">
           <div class="footer-box">
                <div class="footer-logo">
                    <img src="./img/footerlogo.png" alt="footerlogo">
                </div>
                
                <div class="footer-menuBox">
                    <ul class="cmenu">
                        <li class="Privacy-modal"><a href="#">이용약관</a></li>
                        <li class="Privacy-modal"><a href="#">개인정보 처리방침</a></li>
                        <li><a href="#">상품입점 및 제휴문의</a></li>
                    </ul>
                    <ul class="shop-menu">
                        <li><a href="https://donggubat.com/"  target="_blank">동구밭</a></li>
                        <li><a href="https://www.toun28.com/" target="_blank">톤28</a></li>
                        <li><a href="http://sugarlab.co.kr/" target="_blank">슈가랩몰</a></li>
                        <li><a href="https://onlyeco.co.kr/" target="_blank">자연상점</a></li>
                        <li><a href="https://thepicker.net/" target="_blank">더피커</a></li>
                    </ul>
                </div>

                <div class="footer-snsBox">
                    <ul class="sns-icon">
                        <li><a href="https://www.facebook.com/" target="_blank">
                            <img src="./img/sns-fb.png" alt="facebook-icon">
                        </a></li>
                        <li><a href="https://twitter.com/" target="_blank">
                            <img src="./img/sns-tw.png" alt="twitter-icon">
                        </a></li>
                        <li><a href="https://www.instagram.com/" target="_blank">
                            <img src="./img/sns-IT.png" alt="insta-icon">
                        </a></li>
                        <li><a href="https://www.youtube.com/" target="_blank">
                            <img src="./img/sns-yt.png" alt="youtube-icon">
                        </a></li>
                    </ul>
                </div>
           </div>
       </div>
       
       <!-- 이용약관 및 개인정보 모달 -->
        <!-- Modal -->
        <div class="modal fade" id="Privacy-modal-open" tabindex="-1" role="dialog" aria-hidden="true" style = "overflow-y: hidden !important;">
            <div class="modal-dialog modal-dialog-centered" role="document" style = "overflow-y: initial !important;">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" style="font-size: 1.3rem;">
                        <b>㈜Enbuyronment 개인정보취급방침</b>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body" style="font-size: 0.9em;  max-height: calc(100vh - 200px); overflow-y: auto;">
                        ㈜Enbuyronment(이하 "회사”라 함)은 이용자들의 개인정보보호를 매우 중요시하며,<br>
                        "정보통신망 이용촉진 및 정보보호에 관한 법률”을 준수하고 있습니다.<br>
                        회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며,<br>
                        개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.<br>
                        회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br>
                        ㈜Enbuyronment의 개인정보 취급방침은 다음과 같은 내용을 담고 있습니다.<br>
                        <br>
                        수집하는 개인정보의 항목 및 수집방법
                        <br>
                        개인정보의 수집 및 이용목적
                        <br>
                        개인정보의 보유 및 이용기간
                        <br>
                        개인정보의 파기 절차 및 방법
                        <br>
                        개인정보의 제3자 제공
                        <br>
                        개인정보의 취급위탁
                        <br>
                        이용자 및 법정대리인의 권리와 그 행사방법
                        <br>
                        쿠키(cookie)의 운영에 관한 사항
                        <br>
                        개인정보관리책임자 및 담당자의 연락처
                        <br>
                        고지의 의무
                        <br><br>
                        1. 수집하는 개인정보의 항목 및 수집방법 : 회사는 회원가입, 비회원 구매, 상담, 불량이용의 방지, 피부측정을 통한 맞춤화장품 제공 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.
                        <br>
                        - 필수항목 : 이름, 이메일주소, 비밀번호, 전화번호, 제품사용장소, 배송주소, IP Address, 결제기록(구매제품), 휴대폰번호 뒤4자리, 얼굴 사진(정면, 양측면), 성별
                        <br>
                        - 선택항목 : 개인맞춤 서비스를 제공하기 위해 회사가 필요로 하는 정보
                        <br>
                        2. 개인정보의 수집 및 이용목적 회사는 수집한 개인정보를 다음의 목적을 위해 활용합니다.
                        <br>
                        가. 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산, 콘텐츠 제공, 구매 및 요금 결제, 물품배송 또는 청구지 등 발송, 금융거래 본인 인증 및 금융서비스
                        <br>
                        나. 회원 관리 회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 연령확인, 불만처리 등 민원처리, 고지사항 전달
                        <br>
                        다. 마케팅 및 광고에 활용 이벤트 등 광고성 정보 전달, 접속 빈도 파악 또는 회원의 서비스 이용에 대한 통계
                        <br>
                        3. 개인정보의 보유 및 이용기간 회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 상법 및 "전자상거래등에서의 소비자보호에 관한 법률” 등 관련 법령의 규정에 의하여 다음과 같이 거래 관련 관리 의무 관계의 확인 등을 이유로 일정기간 보유하여야 할 필요가 있을 경우에는 일정기간 보유합니다.
                        <br>
                        - 계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
                        <br>
                        - 대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)
                        <br>
                        - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)
                        <br>
                        - 설문조사, 이벤트 등 일시적 목적을 위하여 수집한 경우 : 당해 설문조사, 이벤트 등의 종료 시점
                        <br>
                        - 본인확인에 관한 기록 : 6개월(정보통신망 이용촉진 및 정보보호 등에 관한 법률) - 방문(로그)에 관한 기록 : 3개월(통신비밀보호법)
                        <br>
                        4. 개인정보의 파기 절차 및 방법 회사는 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다. 파기절차 및 방법은 다음과 같습니다.
                        <br>
                        가. 파기절차 이용자가 서비스 이용 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.
                        <br>
                        나. 파기방법 - 종이에 출력된 개인정보 : 분쇄기로 분쇄하거나 소각 - 전자적 파일 형태로 저장된 개인정보 : 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제
                        <br>
                        5. 개인정보의 제3자 제공 이용자의 개인정보는 개인정보의 수집 및 이용목적에서 동의한 범위 내에서 사용하며, 이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 외부에 공개하지 않습니다. 다만 아래의 경우에는 예외로 합니다.
                        <br>
                        - 이용자들이 사전에 동의한 경우 - 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우
                        <br>
                        6. 개인정보의 취급위탁 원활한 업무 처리를 위해 이용자의 개인정보를 위탁 처리할 경우 반드시 사전에 개인정보 처리위탁을 받는 자(이하 ‘수탁자’라 합니다)와 개인정보 처리위탁을 하는 업무의 내용을 고지합니다. 현재 회사의 개인정보처리 수탁자와 그 업무의 내용은 다음과 같습니다.
                        <br>
                        • 위탁 대상자(수탁자) : 위탁업무 내용(수탁업무)
                        <br>
                        • CJ택배, 롯데택배 : 상품 배송 업무 및 배송위치 / 도착정보 등의 서비스 제공
                        <br>
                        • 네이버페이 : 네이버페이를 통한 상품 주문 및 배송 등의 서비스 제공
                        <br>
                        • 나이스페이 : 결제 PG (간편결제, 신용카드 결제 등)
                        <br>
                        • 카카오페이 : 결제 PG(카카오페이 결제 등)
                        <br>
                        7. 이용자 및 법정대리인의 권리와 그 행사방법
                        <br>
                        가. 이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입해지(동의철회)를 요청할 수도 있습니다.
                        <br>
                        나. 이용자 혹은 만 14세 미만 아동의 개인정보 조회, 수정을 위해서는 "개인정보변경”(또는 "회원정보수정” 등)을, 가입해지(동의철회)를 위해서는 "회원탈퇴"를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다.
                        <br>
                        다. 혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.
                        <br>
                        라. 이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.
                        <br>
                        마. 회사는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 "3. 개인정보의 보유 및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.
                        <br>
                        8. 쿠키(cookie)의 운영에 관한 사항 회사는 이용자(접속자)의 정보를 수시로 저장하고 찾아내는 '쿠키(cookie)' 등을 운용합니다.
                        <br>
                        쿠키란 웹사이트를 운영하는데 이용되는 서버가 귀하의 브라우저에 보내는 아주 작은 텍스트 파일로서 귀하의 컴퓨터 하드디스크에 저장됩니다. 회사는 다음과 같은 목적을 위해 쿠키를 사용합니다.
                        <br>
                        가. 쿠키 등 사용 목적 회원과 비회원의 접속빈도나 방문시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟마케팅 및 개인 맞춤 서비스 제공 귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹 브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.
                        <br>
                        나. 쿠키 설정 거부 방법 이용자는 사용하는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나, 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부하도록 선택하여 설정할 수 있습니다. - 설정방법 예(인터넷 익스플로어의 경우) : 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보 - 단, 귀하께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.
                        <br>
                        9. 개인정보보호책임자 및 담당자의 연락처 회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보보호책임자를 지정하고 있습니다.
                        <br><br>
                        [개인정보 보호 책임자]
                        <br>
                        성명 : 병우싀 진영싀 보경싀 슬우싀
                        <br>
                        연락처 : 0000-0000(월~금, 10:00 ~ 19:00, 공휴일 제외)
                        <br>
                        이메일 : 0000@0000.000
                        <br>
                        가. 귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보보호책임자 혹은 담당부서로 신고하실 수 있습니다.
                        <br>
                        나. 회사는 이용자드의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.
                        <br>
                        다. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
                        <br>
                        • 개인분쟁조정위원회 (www.1336.or.kr / 1336)
                        <br>
                        • 정보보호마크인증위원회 (www.eprivacy.or.kr / 02-580-0533~4)
                        <br>
                        • 대검찰청 인터넷범죄수사센터 (www.spo.go.kr/site/spo/main.do / 02-3480-3600)
                        <br>
                        • 경찰청 사이버테러대응센터 (www.ctrc.go.kr / 02-392-0330)
                        <br>
                        10. 고지의 의무 현 개인정보취급방침은 2022년 06월 01일부터 적용됩니다.
                        <br>
                        내용의 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일전부터 홈페이지의 공지사항을 통하여 고지할 것입니다.
                        <br>
                        또한 개인정보취급방침에 버전번호 및 개정일자 등을 부여하여 개정여부를 쉽게 알 수 있도록 하고 있습니다.
                        <br>본 방침은 : 2022년 06월 01일부터 시행됩니다.
                    </div>
                </div>
            </div>
        </div>
   </footer>

   <!-- dear 보경 : 관리자 아이콘 하단에 두겠읍니다 필요하신 부분에 넣어서 쓰심시오~ -->
   <div class="admin-Mode-Icon">
       <img src="./img/admin-icon2.png" alt="adminIcon">
   </div>
   
	<!-- JS here -->

        <!-- dear 보경 : enb-admin.js에서 제이쿼리로 컨트롤 할 예정이얌:) 참고하라구~ -->

        
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
        <script src="./assets/js/popper.min.js"></script>
        <script src="./assets/js/bootstrap.min.js"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="./assets/js/jquery.slicknav.min.js"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="./assets/js/owl.carousel.min.js"></script>
        <script src="./assets/js/slick.min.js"></script>

		<!-- One Page, Animated-HeadLin -->
        <script src="./assets/js/wow.min.js"></script>
		<script src="./assets/js/animated.headline.js"></script>
        <script src="./assets/js/jquery.magnific-popup.js"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="./assets/js/jquery.scrollUp.min.js"></script>
        <script src="./assets/js/jquery.nice-select.min.js"></script>
		<script src="./assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="./assets/js/contact.js"></script>
        <script src="./assets/js/jquery.form.js"></script>
        <script src="./assets/js/jquery.validate.min.js"></script>
        <script src="./assets/js/mail-script.js"></script>
        <script src="./assets/js/jquery.ajaxchimp.min.js"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="./assets/js/plugins.js"></script>
        <script src="./assets/js/main.js"></script>

        <!-- Custom admin.js -->
        <script src="./enb-admin.js"></script>
    
    </body>
</html>