@font-face {
    font-family: 'SCoreDream';
    font-weight: 400; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff) format('woff');
    font-display: swap;
}

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,600,700,800|Poppins:400,500,600,700|Yellowtail&display=swap");

/* main.html CSS */

/* main-area 높이 */
main {
	min-height: 55vh;
}

/* 로딩창 막대 색상조절 */
.preloader-circle{
    border-top-color: #485549 !important;
}
#scrollUp {
    background: #485549 !important;
}
.admin-Mode-Icon{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 80px;
    right: 30px;
    background-color: #485549;
    color: #fff;
    z-index: 99;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
}
.admin-Mode-Icon>img{
    width: 90%;
    height: 90%;
}

/* 메인헤더 */
.main-logobox{
    width: 24%;
    height: 100% !important;
    padding: 0px !important;
}
.logo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center
}
.logo>a>img{
    width: 100%;
    /* height: 100%; */
}
.main-menubox{
    width: 43%;
    height: 100% !important;
    padding: 0px !important;
}

.enb-mainNav{
    width: 100% !important;
    height: 100% !important;
    text-align: center;
    line-height: 4rem;    
}
.enb-mainNav>li{
    width: 23%;
}
.enb-mainNav>li>a{
    padding: 0 !important;
    font-size: 0.9em !important;
    text-align: center;
}

.enb-mainNav>li>a:hover, #myPageLink:hover{
    color: #ef9d3e !important;
}

.enb-submenu{
    width: 100% !important;
    padding: 0.4rem !important;
    border-top : 5px solid #485549 !important;
}

.enb-submenu>li{
    margin-left: 0px !important;
}

.enb-submenu>li:hover{
    color: #ef9d3e !important;
}

.enb-submenu>li>a:hover{
    color: #ef9d3e !important;
}

.main-userbox{
    width: 33%;
    height: 100% !important;
    line-height: 4rem; 
}

.main-userbox-liControl>li{
    padding-left: 0.5rem !important;
}

.favorit-items::before , .shopping-card::before {
    background: #f1b570 !important;
}

.enb-loginBtn{
    font-size: 0.9em !important;
    border-radius: 0.6rem !important;
    background:#485549 !important;
}

.enb-loginBtn::before{
    background:#39533b !important;
}

/* 메인이미지 */

.mainImg-area{
    width: 100%;
    height: 500px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.mainimg-Box{
    width: 1800px;
    height: 500px;
    background-color: #f1b570;
}

.mainimg-Box>a>img{
    width: 100%;
    height: 100%;

}

/* 주문하기 */

.total-price {
  padding-top: 27px;
  text-align: right;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.order_btn {
  background: #485549;
  color: #fff !important;
  display: flex;
  padding: 0px 20px;
  font-family: 'SCoreDream';
  font-size: 18px;
  font-weight: 400;
  border: 0;
  border: 1px solid #485549;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  justify-content: center;
}

.order_btn:hover {
  background: #485549;
  border: 1px solid #485549;
}

.order_btn:focus {
  outline: none;
}

/* 주문확인 */

.confirmation_part .single_confirmation_details ul li {
    position: relative;
    text-transform: capitalize;
    padding-left: 45% !important; 
    margin-bottom: 3px;
}

.confirmation_part .order_details_iner {
    padding: 40px 40px 40px !important;
}
/* 마이페이지 */

.mypage {
	width:1400px;
	margin: 0 auto;
}

.mypage-sidebar {
	width: 250px;
}

.mypage-content {
	width: 1150px;
}

.mypage_sidebar {
	width: 300px !important;
	margin-right: 20px;
	margin-top: 50px;
}

.select_option_dropdown {
	display: block !important;
}

.latest-product-area {
	display: flex !important;
	width: 90vw !important;
}

.select_option .select_option_dropdown {
    background-color: #485549 !important;
}

.mypage-menu {
    color: #fff !important;
}

.mypage-menu:hover {
	cursor: pointer;
	color: #0b1c39 !important;
}

.product_sidebar .single_sedebar input {
	background-color: #485549 !important;
}

/* footer 부분 */

.footer-width{
    width: 100%;
    height: 300px;
    background-color: #485549;
    display: flex;
    justify-content: center;
}

.footer-box{
    width: 1800px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}

.footer-logo{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
}

.footer-logo>img{
    cursor: pointer;
}

.footer-menuBox{
    width: 100%;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #fff;
}

.cmenu{
    width: 80%;
    height: 59px;
    border-bottom: 0.05rem solid rgba(255, 255, 255, 0.775);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cmenu>li>a:hover{
    color: #f4e543; 
}

.shop-menu{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.shop-menu>li>a:hover{
    color: #f4e543; 
}

.footer-snsBox{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.sns-icon{
    width: 1200px;
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.sns-icon>li{
    width: 50px;
    height: 50px;
    /* background-color: #ef9d3e; */
}