<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.itwill.enbuyronment.mapper.BoardMapper">
	
	<!-- 마지막 글번호 가져오기 -->
	<select id="selMaxBno" resultType="Integer">
		select max(board_no) from board
	</select>
	
	<!-- 글 작성 동작 -->
	<insert id="insertBoard">
		insert into board(board_no, board_name, uid, writer, title, content, re_ref, status)
		values(${boardNo}, #{boardName}, #{uid}, #{writer}, #{title}, #{content}, ${reRef}, ${status})
	</insert>
	
	<!-- 상단고정 공지 불러오기 동작 -->
	<select id="getFixedNotice" resultType="BoardVO">
		select * from board where board_name = 'notice' and status = 0 order by board_no desc
	</select>
	
	<!-- 글 개수 카운트 동작 -->
	<select id="boardCnt" resultType="Integer">
		select count(*) from board where board_name = #{boardName} and status = 1
	</select>
	
	<!-- 글 목록 불러오기 동작 -->
	<select id="getBoardList" resultType="BoardVO">
		select * from board where board_name = #{boardName} and status in (1,2)
		order by re_ref desc, board_no limit ${cri.pageStart}, ${cri.perDataCnt}
	</select>
	
	<!-- 글 상세정보 가져오기 동작 -->
	<select id="getBoard" resultType="BoardVO">
		select * from board where board_name = #{boardName} and board_no = ${boardNo}
	</select>
	
	<!-- 글 수정 동작 -->
	<update id="updateBoard">
		update board set title = #{title}, content = #{content}, status = ${status}
		where board_name = #{boardName} and board_no = ${boardNo}
	</update>
	
	<!-- 글 삭제 동작 -->
	<delete id="deleteBoard">
		delete from board where board_name = #{boardName} and board_no = ${boardNo}
	</delete>
	
	<!-- 답변여부 확인 동작 -->
	<select id="checkAnswer" resultType="BoardVO">
		select * from board where re_ref = ${reRef} and status = 2;
	</select>
	
</mapper> 