<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.enbuyronment.mapper.CartMapper">
	
	<!-- 장바구니에 상품 담기 동작 -->
	<insert id="insertCart">
		insert into cart(uid, prod_no, amount)
		values (#{uid}, #{prodNo}, #{amount})
	</insert>
	
	<!-- 장바구니 상품여부 확인 동작 -->
	<select id="getCartProd" resultType="CartVO">
		select * 
		from cart
		where prod_no = #{prodNo} and uid = #{uid}
	</select>
	
	<!-- 장바구니에 이미 있는 상품 담기 동작 -->
	<update id="addAmount">
		update cart set amount = amount + #{amount}
		where prod_no = #{prodNo} and uid = #{uid}
	</update>
	
	<!-- 장바구니 목록 불러오기 동작 -->
	<select id="getCartList" resultType="CartVO">
		select p.prod_name, p.thumb, ct.cate_name, b.brand_name, c.amount, p.price, c.prod_no
		from product p join cart c on p.prod_no = c.prod_no
		join category ct on p.cate_no = ct.cate_no 
		join brand b on p.brand_no = b.brand_no 
		where c.uid = #{uid}
		and p.stock > 0
	</select>
	
	<!-- 장바구니 상품 삭제하기 동작 -->
	<delete id="delProd">
		delete from cart
		where uid = #{uid} and prod_no = #{prodNo}
	</delete>
	
	<!-- 수량변경 동작 -->
	<update id="updateAmount">
		update cart set amount = #{amount}
		where prod_no = #{prodNo} and uid = #{uid}
	</update>
	
	<!-- 선택상품 상태 변경 동작 -->
	<update id="modStat">
		update cart set status = if (prod_no in(${prodNo}), 1, 0) where uid = #{uid}
	</update>

	<!-- 주문목록 불러오기 동작 -->
	<select id="getOrderList" resultType="CartVO">
		select p.prod_name, p.thumb, ct.cate_name, b.brand_name, c.amount, p.price, c.prod_no
		from product p join cart c on p.prod_no = c.prod_no
		join category ct on p.cate_no = ct.cate_no 
		join brand b on p.brand_no = b.brand_no 
		where c.uid = #{uid} and p.stock > 0 and c.status = 1
	</select>
	
</mapper> 