<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwill.enbuyronment.mapper.CartMapper">
	
	<!-- 장바구니에 상품 담기 동작 -->
	<insert id="insertCart">
		insert into cart(uid, prod_no, amount)
		values (#{uid}, #{prodNo}, #{amount})
	</insert>
	
	<select id="getCartProd" resultType="CartVO">
		select * 
		from cart
		where prod_no = #{prodNo} and uid = #{uid}
	</select>
	
	<update id="addAmount">
		update cart set amount = amount + #{amount}
		where prod_no = #{prodNo} and uid = #{uid}
	</update>
	
	<select id="getCartList" resultType="CartVO">
		select p.prod_name, p.thumb, c.amount, p.price, c.prod_no
		from product p join cart c
		on p.prod_no = c.prod_no
		where c.uid = #{uid}
	</select>
	
	<update id="updateAmount">
		update cart set amount = #{amount}
		where prod_no = #{prodNo} and uid = #{uid}
	</update>
	
	<!-- prodName, thumb, amount, price -->

</mapper> 