<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.itwill.enbuyronment.mapper.OrderMapper">

	<!-- 주문정보 추가 동작 -->
	<insert id="insertOrder">
		insert into order_detail(order_no, uid, point_down, point_up, addr_name, postcode, addr, dt_addr, ex_addr, receiver, phone, request)
		values(#{orderNo}, #{uid}, ${pointDown}, ${pointUp}, #{addrName}, ${postcode}, #{addr}, #{dtAddr}, #{exAddr}, #{receiver}, #{phone}, #{request})
	</insert>
	
	<!-- 주문상품 정보 추가 동작 -->
	<insert id="insertOrderProd">
		insert into order_product(order_no, prod_name, price, amount)
		select order_no, #{prodName}, ${price}, ${amount} from order_detail
	</insert>
	
	<!-- 장바구니 삭제 동작 -->
	<delete id="delCartAfterOrder">
		delete from cart where uid = #{uid} and status = 1
	</delete>
	
	<!-- 재고 감소 동작 -->
	<update id="minusStock">
		update product set stock = (stock - ${amount}) where prod_no = #{prodNo}
	</update>
	
	<!-- 포인트 사용&적립 동작 -->
	<update id="updatePoint">
		update user set point = (point + ${pointUp} - ${pointDown}) where uid = #{uid}
	</update>
	
	<!-- 주문정보 가져오기 동작 -->
	<select id="selectOrder" resultType="OrderVO">
		select * from order_detail where order_no = #{orderNo}
	</select>
	
	<!-- 주문상품정보 가져오기 동작 -->
	<select id="selectOrderProdList" resultType="CartVO">
		select * from order_product where order_no = #{orderNo}
	</select>

</mapper>