<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.itwill.enbuyronment.mapper.UserMapper">
	
	<!-- 아이디 찾기 동작 -->
	<select id="findId" resultType="String">
		select uid from user where name = #{name} and email = #{email}
	</select>
	
	<!-- 비밀번호 수정 동작 -->
	<update id="modPw">
		update user set pass = #{pass} where uid = #{uid}
	</update>
	
	<!-- 회원정보 조회 동작 -->
	<select id="getUser" resultType="UserVO">
		select * from user where uid = #{uid}
	</select>

</mapper> 