@charset "UTF-8";

/* ==========================================================================
   #FONT
   ========================================================================== */
@font-face {
    font-family: 'SCoreDream';
    font-style: normal; 
    font-weight: normal;
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff2) format('woff2'),
         url(https://cdn.jsdelivr.net/gh/webfontworld/SCoreDream/SCoreDream3.woff) format('woff');
    font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#fixNoticeBox {
	display: none;
}

